* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: #2a1e31;
    background-image: url(./img/bg-3.png) no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a:hover {
    /*Quando passar o mouse Faça:*/
}

#main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main-bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.cover-bg {
    height: 100vh;
    object-fit: cover;  
}

.main-text {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -110%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-text h1 {
    font-family: 'More Sugar';
    font-size: 64px;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
}

.main-text h4 {
    font-family: 'Orbitron';
    font-size: 24px;
    color: #fe6e02;
    text-transform: uppercase;
    font-weight: 300;
}